*{
    outline: none;
    border: none;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    
    .autoplay .media{
        transform: scale(.95);
    }
    .slick-prev:before, .slick-next:before{
        color: $iconColor;
    }
    .slick-prev {
        left: -10px;
    }
    .slick-next{
        right: -10px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        margin: 0;
    }
  
    .scrolltop{
        background: $NavBarBg;
        padding: .5em 1em;
        bottom: 5%;
        right: 2%;
        z-index: 1000;
        display: none;
        i{
            font-size: 1rem;
        }
    }

    h2{
        font-size: convertFont(20);
        color: #333333;
        font-weight: 400;
        font-family: "Kaushan Script";
        margin-bottom: 1rem;
    }

    h3{
        font-size: convertFont(25);
        position: relative;
        color: #333333;
        font-weight: 700;
        font-family: "Montserrat";
        margin-bottom: 4rem;
        &::before{
            content: "";
            width: 4rem;
            height: 0.15rem;
            position: absolute;
            background: $bgColor;
            bottom: -95%;
            left: 47%;
    
            @media #{$media-sm} {
                left: 42%;
            }
            @media #{$media-md} {
                left: 44%;
            }
            
            @media #{$media-lg} {
                left: 46%;
            }
        }
    }

    h4{
        font-size: convertFont(30);
        color: #333333;
        font-weight: 700;
        font-family: "Montserrat";
    }

    p{

        font-size:convertFont(16);
        line-height: convertFont(36);
        color: #999999;
        font-weight: 300;
        font-style: italic;
        font-family: 'Roboto',sans-serif;
    }


    h5{
        font-size: 14px;
        font-size: convertFont(14);
        color: #333333;
        font-weight: 400;
        font-family: "Montserrat";
    }

    h6{

        font-size:  convertFont(13);
        line-height: convertFont(20);
        color: #999999;
        font-weight: 400;
        font-family: 'Roboto',sans-serif;
        margin: auto;
        margin-bottom: 4rem !important;
    }

    .overlayer{
        background-color: #ffffffe6;
        z-index: 1;
        
    }

    .hover-layer{
        background: $hoverLayerBg;   
                top: 0;
                z-index: 10;
                cursor: pointer;
                box-shadow: 8px 7px 0px 1px #95e1d3;
                transform: translate(-9px, -8px);
            
        i{
            display: inline-block;
            padding: .8rem;
            background: #fce38a;
            font-size: 1.7rem;
            color: #f08f8b;
            transition: all .2s ease-in-out;
            &:hover{
                color: #fff;
                background: #f08f8b;
                transition: all .2s ease-in-out;
            }
        }
    }
    .card-wrapper{
        transition: all .2s ease;
    }
    .card-wrapper:hover{
        transform: translate(-5px , -5px);
        transition: all .3s ease;
    }
    .owl-nav{
        display: none;
    }
}