
@media #{$media-sm} {
@function convertFont($value){
    $res : $value/24;
    @return #{$res}rem;
}
}
@media #{$media-md} {
    @function convertFont($value){
        $res : $value/18;
        @return #{$res}rem;
    }
}

@media #{$media-lg} {
    @function convertFont($value){
        $res : $value/16;
        @return #{$res}rem;
    }
}
@function convertFont($value){
    $res : $value/16;
    @return #{$res}rem;
}