header{
    @extend %section__spacing;
    margin-top: 0;
    background: url("../Assets/imgs/header.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
    .hover-layer{
        
                box-shadow: none;
                transform: translate(0, 0);
    }
               
    .btn{
        margin-top: 4rem !important;
        color: #fff;
        border: 3px solid #fff;
        font-size: .7rem;
        border-radius: 0;
        padding: .6rem 1.2rem;
        
    }
    .container{
        
        z-index: 100;
    }
    h2{
        font-size: convertFont(60);
        color: $whiteColor;
        font-weight: 400;
        font-family: "Kaushan Script";
    }
    h1{
        font-size: convertFont(120);
        line-height: convertFont(140);
        position: relative;
        // width: fit-content;
        color: $whiteColor;
        font-weight: 700;
        font-family: "Montserrat";
        &::before{
            content: "";
            width: 3.85rem;
            height: 0.15rem;
            position: absolute;
            background: #fff;
            bottom: -10%;
            left: 47%;
            @media #{$media-sm} {
                left: 45%;
            }
            @media #{$media-md} {
                left: 45%;
            }
            
            @media #{$media-lg} {
                left: 45%;
            }
        }

    }
    // .col-lg-2{

    //     opacity: 1 !important;
    // }
    // .lel::before {
    //     content: "01 INTRO";
    //     position: absolute;
    //     right: -8%;
    //     font-size: .8rem;
    //     font-weight: 700;
    //     color: #fff;
    //     padding-top: 8px;
        
    // }
    li  span {
        
        position: absolute;
        left: 0;
        width: 0;
        height: 100%;
        display: block;
        z-index: 100;
        background-color: $bgColor;
        
    }
    li.active span.header__active {
        
        position: absolute;
        left: 0;
        width: 100%;
        transition: all 1.5s ease-in-out;
        
    }
    li.active span {
        
        position: absolute;
        left: 0;
        width: 100%;
        transition: all 1.5s ease-in-out;
        
    }
}
