.map{
    @extend %section__spacing;
    margin-bottom: 0;
    
    background: url("../Assets/imgs/Layer59.png");
    background-size: cover;
    i{
        color:$bgColor !important;
        font-size: 1.5rem;
    }
    h3{
        color:$bgColor !important;
        &::before{
            bottom: -50%;
        }

    }
    .container{
        z-index: 2;
    }
}