.team{
    @extend %section__spacing;
   .card{
    border: 0;
    border-radius: 0;

       img{
        object-fit: cover;
        height: 30rem;
        border: 0;
        border-radius: 0;
       }
       h5{
        font-size:convertFont(14) ;
        margin-bottom: .25rem;
        color: #333333;
       }
       p{
        font-size: convertFont(15) ;
        line-height: convertFont(24) ;
       }
   }
}