$navHover  : #fce38a;
$whiteColor  : #ffffff;
$bgColor : #f38181;
$iconColor : #95e1d3;
$hoverLayerBg : linear-gradient(to top, #e5ce80e6, #e07a79e0);
$media-xl: "(max-width: 1200px) and (min-width: 993px)";
$media-lg: "(max-width: 992px) and (min-width: 769px)";
$media-md: "(max-width: 768px) and (min-width: 577px)";
$media-sm: "(max-width: 576px) and (min-width: 150px)";
